<header id="home-section" class="bg-dark">
    <div class="dark-overlay">
      <div class="home-inner container">
          <%- include('../includes/error.ejs', {errorMessage:errorMessage}) %>
        <div class="row">
          <h1 class="display-12">Want to know more about <strong>AFIT Quality Assurance Unit?</strong></h1>
          <div class="col-md-6">

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempora quam quaerat necessitatibus
                enim! Repellat?
              </div>
            </div>

            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempora quam quaerat necessitatibus
                enim! Repellat?
              </div>
            </div>
          </div>
          <div class="col-md-6">

              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempora quam quaerat necessitatibus
                  enim! Repellat?
                </div>
              </div>
  
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempora quam quaerat necessitatibus
                  enim! Repellat?
                </div>
              </div>
  
            
            </div>

          
        
        </div>
      </div>
    </div>
  </header>